CONFIG_ESPTOOLPY_BAUD_921600B=y
#CONFIG_ESPTOOLPY_BAUD=921600
CONFIG_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
#CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
#CONFIG_SPI_FLASH_SIZE=0x400000
CONFIG_MONITOR_BAUD_9600B=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=9600
CONFIG_CONSOLE_UART_BAUDRATE=9600